# TELEGRAM BOT CONFIGURATION
BOT_TOKEN=8515886958:AAHWLWjmGtFj9BsUleOSsqZCaoN7NxdBHf4
ADMINS=1018181608

# MINI APP (Обновь на свой URL)
MINI_APP_URL=https://yourdomain.com/index_updated.html

# CDEK API v2.0 (ЗАПОЛНИ СВОИ КЛЮЧИ!)
CDEK_CLIENT_ID=4I5vLAbLUPdMIOEhVD0osn4fS0fvTttj
CDEK_CLIENT_SECRET=g1WXBI56G3ZAPrY0TleKblVIwsnMCm8J

# DATABASE
DB_PATH=/home/olisher2015pro100/orders.db

# SERVER
API_HOST=127.0.0.1
API_PORT=8000
